# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
.terraform.lock.hcl

# Python
__pycache__/
*.py[codz]
*.egg-info/
.venv/
venv/

# Environments
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
